<ngx-loading-bar color="#b21616" [includeSpinner]="false" height="3px"></ngx-loading-bar>
<div class="container">
  <header class="header">
    <h1 class="main-color">
      The reverse job board for
      Angular
      <div class="words">
        <span></span>
        <span>developers</span>
        <span>magicians</span>
        <span>engineers</span>
        <span>masters</span>
        <span>talents</span>
        <span>wizards</span>
      </div>
    </h1>
    <p class="mb-4">
      Angular talents empowers independent developers available for their next gig.
      Stop scouring job boards and sit back as companies reach out to you first.
    </p>
    <div class="center">
      <a class="pushme" [routerLink]="['/role']">
        <span class="inner">Get started</span>
      </a>
    </div>
  </header>

  <div class="row">
    <!-- List of engineers -->
    <div class="col-12">
      <div class="spinner d-flex justify-content-center align-items-center" *ngIf="loading">
        <div class="spinner-border" role="status">
          <span class="sr-only"></span>
        </div>
      </div>
      <main>
        <div class="engineer-wrapper w-75 m-auto" *ngIf="!loading">
          <div *ngFor="let engineer of engineers">
            <!-- Exclude engineers with 'not_interested' or 'invisible' statuses -->
            <ng-container *ngIf="!excludedStatuses.includes(engineer.search_status)">
              <a class="engineer custom-box-shadow e-h" [routerLink]="['/engineers/details', engineer.id]">
                <div class="flex-shrink-1">
                  <picture>
                    <img
                      loading="lazy"
                      fetchPriority="high"
                      [src]="engineer.avatar || 'assets/empty-avatar.png'"
                      class="rounded-circle profile-image"
                    />
                  </picture>
                </div>

                <div class="engineer-info">
                  <div class="engineer-info-header">
                    <h2 class="fs-5 fw-bold">{{ engineer.tag_line }}</h2>
                    <div class="engineer-info-status d-flex align-items-center">
                      <!-- Dynamic status display -->
                      <span [ngSwitch]="engineer.search_status">
                        <!-- Actively Looking -->
                        <ng-container *ngSwitchCase="'actively_looking'">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="green"
                            viewBox="0 0 16 16"
                            class="bi bi-check-circle-fill"
                          >
                            <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"
                            ></path>
                            <path
                              d="M12.146 5.146a.5.5 0 0 1 .708.708L8 9.207l-2.146-2.147a.5.5 0 1 1 .708-.708L8 7.793l3.438-3.439a.5.5 0 0 1 .708.708L8.707 8.5l3.439 3.439a.5.5 0 0 1-.708.708L8 9.207l-2.146 2.147a.5.5 0 1 1-.708-.708L7.293 8.5 3.854 5.061a.5.5 0 0 1 .708-.708L8 7.793l3.438-3.439a.5.5 0 0 1 .708.708L8.707 8.5z"
                            ></path>
                          </svg>
                          <span class="mx-1">Actively looking</span>
                        </ng-container>

                        <!-- Open to Offers -->
                        <ng-container *ngSwitchCase="'open'">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="gray"
                            viewBox="0 0 16 16"
                            class="bi bi-check-circle-fill"
                          >
                            <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"
                            ></path>
                            <path
                              d="M12.146 5.146a.5.5 0 0 1 .708.708L8 9.207l-2.146-2.147a.5.5 0 1 1 .708-.708L8 7.793l3.438-3.439a.5.5 0 0 1 .708.708L8.707 8.5l3.439 3.439a.5.5 0 0 1-.708.708L8 9.207l-2.146 2.147a.5.5 0 1 1-.708-.708L7.293 8.5 3.854 5.061a.5.5 0 0 1 .708-.708L8 7.793l3.438-3.439a.5.5 0 0 1 .708.708L8.707 8.5z"
                            ></path>
                          </svg>
                          <span class="mx-1">Open to offers</span>
                        </ng-container>
                      </span>
                    </div>
                  </div>

                  <!-- You can handle 'New profile' logic here if needed -->
                  <div class="recently-active rounded-3">
                    <span>New profile</span>
                  </div>

                  <div class="engineer-info-text">
                    {{ engineer.bio }}
                  </div>
                </div>
           
